@mixin font-styles() {
  font-family: "Almarai";
  font-style: normal;
  text-transform: capitalize;
}

@mixin bp($bp) {
  @if $bp == small {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $bp == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $bp == large {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $bp == xl {
    @media (min-width: 1440px) {
      @content;
    }
  }
}
