@import "./app/sass/style.scss";

.event-page {
  margin: 0 28px;

  @media (min-width: 768px) {
    margin: 0 60px;
  }

  @media (min-width: 1024px) {
    margin: 0 130px;
  }

  @media (min-width: 1440px) {
    max-width: 1296px;
    margin: 0 auto;
  }
}
